@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-surface;
    @apply bg-white;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-body-dark;
  }
}

p {
  @apply leading-[1.6];
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #1e293b;
  --secondary-color: #9aa3b8;
  --third-color: #9db2bf;
  --text-color: #dde6ed;
}

body {
  font-family: "Almarai", sans-serif;
  background-color: var(--main-color);
}

.header {
  clip-path: ellipse(50% 40% at 50% 0%);
  box-shadow: var(--secondary-color) 0px 3px 8px;
}

.Toastify__toast-body {
  direction: rtl;
}
